x_app_id:
x_app_secret:
x_billomat_api_key:
accept_language: "de-de"
host: "yourname.billomat.net"
port: 443

#CSV Export Settings: Encoding Type (default 'utf8'), Column Separator (default ';')
csv:
  encoding: "UTF8"
  col_sep: ";"